<div id="<%= dom_id player %>">
  <p>
    <strong>Username:</strong>
    <%= player.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= player.password %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= player.email %>
  </p>

</div>
